@font-face {
  font-family: 'Mirava';
  src: url('../assets/fonts/Mirava.ttf') format('truetype'); /* Adjust path/format if needed */
  font-weight: normal;
  font-style: normal;
}

.search-section {

  display: flex;
  flex-direction: column;
  align-items: center; /* centers content horizontally */
  padding: 60px 0;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  padding: 0 20px;
  margin-bottom: 20px;
  min-height: 60px;
}

.products-container {
  display: flex;
  gap: 20px; /* Space between sidebar and grid */
  align-items: flex-start;
  width: 100%;
}

.logo-text {
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: -0.02em;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  line-height: 1;
  margin: 0;
  padding: 0;
  vertical-align: middle;
}

.primary {
  color: #333;
}

.highlight {
  color: #329545;
}
